body{
    background-color: #E7BA5C;
    color: ghostwhite;
}
.header{
    background-image: url("images/header.jpg");
    display: flex;
    justify-content: space-between;
}
.footer{
    background-image: url("images/header.jpg");
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.description{
    text-align: center;
}